* {
  padding: 0;
  margin: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.table {
  background-color: #0d1117;
  margin: 0 200px 0;
  width: 700px;
  border-radius: 10px;
  border: 1px solid #4e4e4e;
}
.table tr th {
  text-align: left;
  padding: 10px 20px 10px;
  border-bottom: 1px solid #4e4e4e;
  color: #58a6ff;
  font-size: 14px;
  width: 100%;
  background-color: #161b22;
}

.table tr td {
  padding: 10px 0 10px;
  border-bottom: 1px solid #4e4e4e;
  font-weight: 300;
  font-size: 14px;
}

.table {
  border-bottom: none;
}

.section {
  background-color: #0d1117;
  display: flex;
  flex-direction: column;
  padding: 60px 0 0;
}

.table tr td:hover {
  background-color: #26313f;
}
.table tr td a {
  padding: 0 20px 0;
  color: white;
  text-decoration: none;
}

.card {
  border-radius: 10px;
  margin: 50px 200px 0;
}
.code {
  color: rgb(204, 204, 204);
  line-height: 2;
  font-weight: 100;
  font-size: 14px;
  font-family: "Encode Sans Expanded", sans-serif;
}

.section2 {
  background-color: #0d1117;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 50px 0 100px;
}

.section2 h3 {
  color: #3191fe;
  margin: 50px 200px 0;
}

::-webkit-scrollbar {
  display: none;
}

.card1 {
  margin: 30px 200px 50px;
  width: 650px;
  height: 100%;
  border: 1px solid #4e4e4e;
  border-radius: 10px;
  padding: 20px;
}

.card1 h3 {
  color: white;
  font-size: 20px;
  font-weight: 500;
  padding: 0 0 7px;
  border-bottom: 1px solid #4e4e4e;
}

.card1 p {
  color: gray;
  padding: 10px 0;
}

.section3 {
  display: flex;
  padding: 0 20px 0;
  height: 100vh;
  border-left: 1px solid #4e4e4e;
  background-color: #0d1117;
}

.form {
  padding: 50px 0 0;
  color: white;
}

form {
  border-bottom: 1px solid #4e4e4e;
  padding: 0 0 20px;
}

.form input,
textarea {
  margin: 10px 0 0;
  background-color: #0d1117;
  border: 2px solid #4e4e4e;
  border-radius: 5px;
  width: 200px;
  height: 30px;
  color: white;
  padding: 0 5px 0;
}

.form label {
  font-size: 14px;
}
.form input :active {
  border: white;
}

.form textarea {
  height: 80px;
}

.btn {
  padding: 5px 10px 5px;
  margin: 10px 0 0;
  background-color: green;
  color: white;
  cursor: pointer;
  border-radius: 5px;
}

.btn:hover {
  background-color: rgb(35, 197, 35);
}

.lab {
  padding: 10px 0 0;
}

.card1 h5 {
  background-color: rgb(61, 61, 61);
  color: white;
  width: 15%;
  padding: 5px;
  border-radius: 5px;
}

.nav-bar {
  background-color: #212832;
  padding: 10px 100px 12px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-bar input {
  background-color: #161b22;
  border: 2px solid #4e4e4e;
  border-radius: 5px;
  width: 200px;
  height: 30px;
  color: white;
}

::-webkit-input-placeholder {
  color: rgb(142, 142, 142);
  padding: 0 5px 0;
}

.nav-bar h1 {
  color: white;
}

.section4 {
  background-color: #0d1117;
  height: 100vh;
  padding: 50px 0 0;
}

.repo {
  padding: 20px 20px 50px;
  margin: 0 20px 20px;
  border: 1px solid #4e4e4e;
  border-radius: 10px;
  width: 400px;
}

.repo h4 a {
  font-weight: 400;
  text-decoration: none;
  border-bottom: 1px solid #58a6ff;
  color: #58a6ff;
}

.repo p {
  color: rgb(164, 164, 164);
  padding: 10px 0 0;
  font-weight: 300;
}

.section4 h3 {
  color: white;
  padding: 40px 300px 40px;
  font-size: 26px;
}

.repo-flex {
  display: flex;
  align-content: center;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 100px 20px;
}

.btn3,
.btn-name-ctn {
  color: white;
  font-weight: 400;
  background-color: #3191fe;
  padding: 5px 10px 5px;
  text-decoration: none;
  width: 100px;
  font-size: 14px;
  text-align: center;
  border-radius: 5px;
  cursor: pointer;
}

.btn3:hover {
  outline: 1px solid #3191fe;
  background-color: #0d1117;
  color: #3191fe;
  transition: 0.4s ease-in-out;
}

.search-btn {
  color: #4e4e4e;
  position: relative;
  top: 5px;
  font-weight: 600;
  padding: 0 5px 0;
  left: -40px;
  cursor: pointer;
}

nav {
  position: fixed;
  width: 100%;
}

.land-head {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  margin: 0 200px 0;
}

.land-head h1 {
  font-size: 110px;
  color: white;
}

.land-head p {
  font-size: 18px;
  color: grey;
}

.land {
  background-color: rgb(0, 0, 0);
}

.land-head a {
  text-decoration: none;
  margin: 30px 0 0;
  font-weight: 600;
  font-size: 16px;
}

.span {
  font-size: 40px;
}

.btn4 {
  color: #3191fe;
  border-bottom: 1px solid #3191fe;
  width: 115px;
}

.btn4:hover {
  color: white;
  border-bottom: 1px solid white;
  transition: 0.4s ease-in-out;
}

.noti {
  padding: 20px 0 0;
  border-bottom: 1px solid #4e4e4e;
  width: 270px;
}

.noti h4 {
  font-weight: 500;
  font-size: 14px;
}

.noti p {
  padding: 10px 33px 10px;
  font-size: 13px;
  color: rgb(186, 186, 186);
}

.face {
  position: relative;
  top: 7px;
  padding: 0 5px 0;
}

.noti-ctn {
  padding: 30px 0 0;
}

.btn6 {
  color: #3191fe;
  text-align: center;
  padding: 20px 0 0;
  border-bottom: 1px solid #3191fe;
  width: 65px;
  font-size: 14px;
  cursor: pointer;
}

.btn-ctn {
  display: flex;
  justify-content: center;
}

.host {
  color: white;
  padding: 30px 200px 0;
  display: flex;
}

.circ {
  position: relative;
  top: 7px;
  border-radius: 100px;
  margin: 0 5px 0;
  width: 10px;
  height: 10px;
  background-color: #f88119;
}

.host a {
  padding: 0 5px 0;
  color: #58a6ff;
}

.back {
  color: white;
  position: relative;
  top: 3px;
}

.name-ctn {
  background-color: #212832;
  width: 215px;
  padding: 10px 20px 10px;
  border-radius: 10px;
  position: absolute;
  left: 10px;
  height: 140px;
  visibility: hidden;
  z-index: 1000;
}

.btn-name-ctn a {
  text-align: center;
  color: white;
}

.code-img {
  width: auto;
  height: 700px;
  border: 1px solid #4e4e4e;
  border-radius: 10px;
}
